@font-face {
    font-family: 'helvetica';
    src: url('helveticaneuethint.eot');
    src: url('helveticaneuethin.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuethin.woff') format('woff'),
         url('helveticaneuethin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}